*{
    margin: 0px;
    padding: 0px;    
}

.navbar-brand{
    width: 400px;
}
.carousel-item{
    width: 770px;
}

header{
    background: rgb(251, 188, 0);
}
.textoo{
    width: 100%;
}
    .salon{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
        .card{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
